* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #020617, #1e1b4b);
  color: white;
}


.page {
  min-height: 100vh;
  padding: 20px;
}



.navbar {

  background: #111827;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px #00ffff;

}


.navbar h2 {

  color: #00ffff;

}




.layout {

  display: flex;
  gap: 20px;

}



.sidebar {

  width: 220px;
  background: #111827;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #9333ea;

}



.sidebar p {

  background: #1e293b;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;

}


.sidebar p:hover {

  background: #2563eb;

}




.content {

  flex: 1;

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 20px;

}




.card {

  background: #0f172a;

  padding: 20px;

  border-radius: 20px;

  box-shadow:
    0 0 15px #2563eb;

}



.card:hover {

  box-shadow:
    0 0 30px #00ffff;

  transform: translateY(-3px);

}




h1,
h2 {

  color: #a78bfa;

}




button {

  background:
    linear-gradient(90deg, #2563eb, #9333ea);

  border: none;

  color: white;

  padding: 12px 22px;

  border-radius: 12px;

  cursor: pointer;

  margin: 8px;

  font-size: 16px;

}



button:hover {

  background:
    linear-gradient(90deg, #06b6d4, #ec4899);

}




input,
textarea {

  width: 100%;

  padding: 12px;

  margin: 10px 0;

  border-radius: 10px;

  border: none;

  background: #1e293b;

  color: white;

}



textarea {

  height: 100px;

}



video {

  border-radius: 15px;

  box-shadow: 0 0 15px #22d3ee;

  margin-top: 10px;

}



p {

  white-space: pre-line;

  line-height: 1.5;

}





@media(max-width:800px) {


  .layout {

    flex-direction: column;

  }


  .sidebar {

    width: 100%;

  }


}